<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="../tab1">
      <ion-back-button defaultHref="home" text="INICIO"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Instalaciones
    </ion-title>
  </ion-toolbar>
  <ion-buttons slot="end" routerLink="../tab4">
    <ion-icon slot="icon-only" name="map-outline"></ion-icon>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<center><h1>Estas son nuestras instalaciones.<br></h1></center>
<center><h2>la 2da planta contamos con caminadoras y bicicletas<br>
  esta zona no cuenta con A/C.<br>
  (Solo la zona de pesas contiene A/C)<br>
contamos con instructores(uno incluye la mensualidad) puedes contratar uno privado<br> con nostros si requieres de una<br> rutina y dieta mas compleja </h2><br>
<th class="text2">
  Da clic en el siguiente boton para ver nuestra ubicacion<br>
  </th>

<ion-button routerLink="../tab4">Ubicacion</ion-button> <br><br></center>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button href="https://api.whatsapp.com/send/?phone=5216673821761&text&app_absent=0">
    <ion-icon name="logo-whatsapp" ></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-row>
  <ion-col size="7">
    <img src="/assets/imagenes/gym1.jpg" />
  </ion-col>
  <ion-col size="5">
    <img src="/assets/imagenes/gym2.jpg" />
  </ion-col >
  <ion-col size="12">
    
    <img src="/assets/imagenes/gym3.jpg" />
  </ion-col>
  <ion-col size="12">
    <img src="/assets/imagenes/hulk.png" />
  </ion-col>
</ion-row>
</ion-content>
